<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each users}}
      <li><a href="{{name}}">{{name}}</a></li>
      <p>I am an animal and this is my email: {{email}}</p>
    {{/each}}
    </ul>
  </body>
</html>
